@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$mainFont: 'Roboto', sans-serif;
// $mainColor: #ffc61a;

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: $mainFont;
}

body h1 {
    display: none;
}

.container {
    min-height: 100vh;
    width: 1600px;
    // max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.topWrapper {
    width: 100%;
    height: 744px;
    background-image: url('../assets/img/bg-image.png');
    background-position: center center;
    background-size: cover;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 95px;
        // background-color: rgba($color: #ffffff, $alpha: 0.5);

        &Nav {
            // display: grid;
            // grid-template-columns: repeat(5, auto);
            // grid-template-rows: 100%;
            // align-items: center;

            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            // max-width: 600px;
            // width: 582px;
            // margin: 0 auto;
            width: 100%; 
            padding-right: 12px;
            padding-top: 3px;
            
            
            &List {
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 582px;
                // margin: 0 502px 0 516px;
                margin: 0 auto;
            }

            &Item {
                display: block;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // position: relative;
                // padding: 0 2px;
                font-family: $mainFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                color: #ffffff;
                border-bottom: 1px solid transparent;
                transition: 0.2s;

                &:hover {
                    // font-weight: 500;
                    // text-decoration: underline;
                    border-bottom: 1px solid #ffffff;
                    // letter-spacing: normal;
                    text-shadow: 0 0 .65px #ffffff, 0 0 .65px #ffffff;
                }

                a {
                    display: block;
                    // position: absolute;
                }
                
                &Active {
                    font-weight: 500;
                    // text-decoration: underline;
                    border-bottom: 1px solid #ffffff;
                }
            }

            &Logo {
                display: flex;
                align-items: center;

                &:hover {
                    border-bottom: 1px solid transparent;
                    transform: scale(1.05);
                }
            }
        }
    }

    .yourLife {
        // background-color: rgba($color: red, $alpha: 0.5);
        height: 100%;

        &Title {
            margin: 135px 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            letter-spacing: 4.5px;
            text-transform: uppercase;
            font-family: $mainFont;
            font-style: normal;
            font-weight: bold;
            font-size: 64px;
            line-height: 75px;
            color: #ffffff;

            span {
                display: block;
                padding-left: 5px;
            }
        }

        &Text {
            margin: 22px auto 0;
            width: 504px;
            font-family: $mainFont;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            /* or 25px */
            text-align: center;
            color: #ffffff;
        }

        &Btn {
            display: block;
            margin: 30px auto 0;
            padding: 15px 47px;
            background: #00AFDB;
            width: 184px;
            height: 46px;
            box-sizing: border-box;
            font-family: $mainFont;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: #ffffff;
            transition: 0.2s;

            &:hover {
                // transform: scale(1.02   );
                // box-shadow: 0px 0px 5px 5px #ffffff;
                background-color: #009CC2;
            }
        }

        &Links {
            margin: 182px auto 0;
            width: 170px;
            height: 20px;
            display: flex;
            justify-content: space-between;

            &Item {
                display: inline-block;
                width: 20px;
                height: 20px;
                transition: 0.2s;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.main {
    background-color: grey;

    .rappresent {
        height: 842px;
        padding: 120px 268px 140px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, 407px);
        grid-template-rows: 100%;
        column-gap: 248px;
        background-color: #ffffff;

        &Info {
            padding-top: 174px;

            &Title {
                padding-right: 39px;
                padding-bottom: 21px;
                font-family: $mainFont;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #373737;
                text-align: left;
            }

            &Text {
                padding-bottom: 29px;
                font-family: $mainFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                color: #4E4E4E;
                text-align: left;
            }

            &Btn {
                display: block;
                padding: 15px 47px;
                background: #00AFDB;
                width: 184px;
                height: 46px;
                box-sizing: border-box;
                font-family: $mainFont;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: #ffffff;
                transition: 0.2s;

                &:hover {
                    // transform: scale(1.02   );
                    // box-shadow: 0px 0px 5px 5px #ffffff;
                    background-color: #009CC2;
                }
            }
        }

        &Image {
            width: 407px;
            height: 582px;
            margin-right: 2px;
            background-image: url(../assets/img/rappresentImage.png);
            background-position: center center;
            background-size: cover;
        }
    }

    .community {
        width: 100%;
        height: 504px;
        box-sizing: border-box;
        padding: 80px 0 140px 269px;
        display: grid;
        grid-template-columns: 298px 1fr;
        grid-template-rows: 100%;
        column-gap: 139px;
        background-color: #F5F6F7;

        &Info {
            height: 175px;
            padding-top: 75px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            
            &Image {
                display: block;
            }

            &Title {
                padding: 20px 0 11px 3px;
                font-family: $mainFont;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 2.4px;
                text-transform: uppercase;
                color: #373737;
            }

            &Text {
                font-family: $mainFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                text-align: center;
                color: #4E4E4E;
            }
        }

        &Slider {
            // height: 100%;
            height: 284px;

            &Nav {
                padding-bottom: 20px;
                padding-left: 547px;
                font-family: $mainFont;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                display: flex;
                // justify-content: center;
                // align-items: center;
                text-align: center;
                color: #373737;
                // position: relative;
                // left: 40px;
                transition: 0.2s;

                &Text {
                    padding: 0 12px 0;
                }

                &Left,
                &Right {
                    display: block;

                    &:before {
                        content: '';
                        display: inline-block;
                        width: 9px;
                        height: 9px;
                        box-sizing: border-box;
                        border-top: 2px solid #373737;
                        border-left: 2px solid #373737;
                        position: relative;
                        bottom: 2px;
                        // transform: rotate(-45deg);
                    }

                    &:hover {
                        transform: scale(1.2);
                        color:#000000;
                    }
                }

                &Left {
                    &:before {
                        padding: 0 0 0 0;
                        transform: rotate(-45deg);
                    }
                }

                &Right {
                    &:before {
                        transform: rotate(135deg);
                    }
                }
            }

            &Images {
                width: 1281px;
                display: grid;
                grid-template-rows: 244px;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 30px;

                &Item {
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    &:nth-child(1) {
                        background-image: url('/assets/img/communitySliderImage1.png');
                    }

                    &:nth-child(2) {
                        background-image: url('/assets/img/communitySliderImage2.png');
                    }

                    &:nth-child(3) {
                        background-image: url('/assets/img/communitySliderImage3.png');
                    }
                }
            }
        }
    }

    .implement {
        padding: 120px 378px 140px 269px;
        display: grid;
        grid-template-columns: repeat(2, 407px);
        grid-template-rows: 582px;
        column-gap: 139px;
        background-color: #ffffff;


        &Image {
            display: block;
        }

        &Info {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            margin-top: 200px;

            &Title {
                font-family: $mainFont;
                margin-bottom: 20px;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #373737;
            }

            &Text {
                margin-bottom: 29px;
                font-family: $mainFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                color: #4E4E4E;
            }

            &Btn {
                display: block;
                padding: 15px 47px;
                background: #00AFDB;
                width: 180px;
                height: 46px;
                box-sizing: border-box;
                font-family: $mainFont;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: #ffffff;
                transition: 0.2s;

                &:hover {
                    // transform: scale(1.02   );
                    // box-shadow: 0px 0px 5px 5px #ffffff;
                    background-color: #009CC2;
                }
            }
        }
    }

    .subscribe {
        width: 100%;
        height: 598px;
        padding: 218px 597px 277px;
        box-sizing: border-box;
        background-image: url('/assets/img/subscribeBcgImage.png');

        &Title {
            margin-bottom: 30px;
            font-family: $mainFont;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &Form {
            display: flex;
            width: 100%;
            height: 46px;
            box-sizing: border-box;

            &Field {
                display: block;
                width: 340px;
                height: 100%;
                box-sizing: border-box;
                outline: none;
                border: none;
                padding: 14px 24px 12px;
                font-family: $mainFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #373737;
            }

            &Btn {
                display: block;
                width: 66px;
                height: 100%;
                border: none;
                box-sizing: border-box;
                background-color: #00AFDB;
                background-image: url('/assets/img/subscribeBtnImage.png');
                background-position: center center;
                background-repeat: no-repeat;
                transition: 0.2s;

                &:hover {
                    background-size: 1.5em;
                    background-color: #009CC2;
                }
            }
        }
    }

    .download {
        height: 468px;
        background-color: #F5F6F7;
        padding: 122px 558px 180px;
        box-sizing: border-box;

        &Title {
            margin-bottom: 20px;
            font-family: $mainFont;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #373737;
        }

        &Text {
            margin-bottom: 30px;
            font-family: $mainFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #4E4E4E;
        }

        &Btns {
            margin: 0 auto;
            width: 406px;
            display: grid;
            grid-template-columns: repeat(2, 188px);
            grid-template-rows: 50px;
            column-gap: 30px;

            &Item {
                width: 128px;
                // float: left;
                // margin-right: 60px;
                position: relative;
                display: block;
                // padding: 17px;
                box-sizing: border-box;
                font-family: $mainFont;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                // background-color: #00AFDB;

                &:after {
                    content: '';
                    display: block;
                    margin-right: 0;
                    width: 60px;
                    height: 100%;
                    background-color: #009CC2;
                    // background-image: url('/assets/img/downloadBtnApple.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    position: absolute;
                    top: 0px;
                    left: 100%;
                }

                &Apple:after {
                    background-image: url('/assets/img/downloadBtnApple.png');
                }

                &Android:after {
                    background-image: url('/assets/img/downloadBtnAndroid.png');
                }

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 17px;
                    box-sizing: border-box;
                    background-color: #00AFDB;
                    transition: 0.2s;

                    &:hover {
                        background-color: #009CC2;
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 184px;
    background-color: yellow;
}