@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body h1 {
  display: none;
}

.container {
  min-height: 100vh;
  width: 1600px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

.container a {
  text-decoration: none;
}

.topWrapper {
  width: 100%;
  height: 744px;
  background-image: url("../assets/img/bg-image.png");
  background-position: center center;
  background-size: cover;
}

.topWrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 95px;
}

.topWrapper .headerNav {
  width: 100%;
  height: 100%;
  padding-right: 12px;
  padding-top: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topWrapper .headerNavList {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 582px;
}

.topWrapper .headerNavItem {
  display: block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.topWrapper .headerNavItem:hover {
  border-bottom: 1px solid #ffffff;
  text-shadow: 0 0 .65px #ffffff, 0 0 .65px #ffffff;
}

.topWrapper .headerNavItem a {
  display: block;
  color: #ffffff;
}

.topWrapper .headerNavItem:nth-child(-n+2) {
  -ms-grid-column-align: left;
      justify-self: left;
}

.topWrapper .headerNavItem:nth-last-child(-n+2) {
  -ms-grid-column-align: right;
      justify-self: right;
}

.topWrapper .headerNavItemActive {
  font-weight: 500;
  border-bottom: 1px solid #ffffff;
}

.topWrapper .headerNavLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  padding-top: 2px;
  padding-left: 13px;
}

.topWrapper .headerNavLogo:hover {
  border-bottom: 1px solid transparent;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.topWrapper .yourLife {
  height: 100%;
}

.topWrapper .yourLifeTitle {
  margin: 135px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #ffffff;
}

.topWrapper .yourLifeTitle span {
  display: block;
  padding-left: 5px;
}

.topWrapper .yourLifeText {
  margin: 22px auto 0;
  width: 504px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.topWrapper .yourLifeBtn {
  display: block;
  margin: 30px auto 0;
  padding: 15px 47px;
  background: #00AFDB;
  width: 184px;
  height: 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.topWrapper .yourLifeBtn:hover {
  background-color: #009CC2;
}

.topWrapper .yourLifeLinks {
  margin: 182px auto 0;
  width: 170px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topWrapper .yourLifeLinksItem {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.topWrapper .yourLifeLinksItem:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main {
  background-color: grey;
}

.main .rappresent {
  height: 842px;
  padding: 120px 269px 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 407px 407px;
      grid-template-columns: 407px 407px;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-column-gap: 248px;
          column-gap: 248px;
  background-color: #ffffff;
}

.main .rappresentInfo {
  padding-top: 175px;
}

.main .rappresentInfoTitle {
  padding-right: 38px;
  padding-bottom: 19px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  text-align: left;
}

.main .rappresentInfoText {
  padding-bottom: 29px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #4E4E4E;
  text-align: left;
}

.main .rappresentInfoBtn {
  display: block;
  padding: 15px 47px;
  background: #00AFDB;
  width: 184px;
  height: 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main .rappresentInfoBtn:hover {
  background-color: #009CC2;
}

.main .rappresentImage {
  width: 407px;
  height: 582px;
  margin-right: 2px;
  background-image: url("../assets/img/rappresentImage.png");
  background-position: center center;
  background-size: cover;
}

.main .community {
  width: 100%;
  height: 504px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 0 140px 269px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 298px 1fr;
      grid-template-columns: 298px 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-column-gap: 139px;
          column-gap: 139px;
  background-color: #F5F6F7;
}

.main .communityInfo {
  height: 175px;
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .communityInfoImage {
  display: block;
}

.main .communityInfoTitle {
  padding: 20px 0 11px 3px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}

.main .communityInfoText {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #4E4E4E;
}

.main .communitySlider {
  height: 284px;
}

.main .communitySliderNav {
  padding-bottom: 20px;
  padding-left: 547px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #373737;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main .communitySliderNavText {
  padding: 0 10px 0;
}

.main .communitySliderNavLeft, .main .communitySliderNavRight {
  display: block;
}

.main .communitySliderNavLeft:before, .main .communitySliderNavRight:before {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid #373737;
  border-left: 2px solid #373737;
  position: relative;
  bottom: 2px;
}

.main .communitySliderNavLeft:hover, .main .communitySliderNavRight:hover {
  opacity: .5;
}

.main .communitySliderNavLeft:before {
  padding: 0 0 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main .communitySliderNavRight:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.main .communitySliderImages {
  width: 1281px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 244px;
      grid-template-rows: 244px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.main .communitySliderImagesItem {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .communitySliderImagesItem:nth-child(1) {
  background-image: url("../assets/img/communitySliderImage1.png");
}

.main .communitySliderImagesItem:nth-child(2) {
  background-image: url("../assets/img/communitySliderImage2.png");
}

.main .communitySliderImagesItem:nth-child(3) {
  background-image: url("../assets/img/communitySliderImage3.png");
}

.main .implement {
  padding: 120px 378px 140px 269px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 407px 407px;
      grid-template-columns: 407px 407px;
  -ms-grid-rows: 582px;
      grid-template-rows: 582px;
  -webkit-column-gap: 139px;
          column-gap: 139px;
  background-color: #ffffff;
}

.main .implementImage {
  display: block;
}

.main .implementInfo {
  margin-top: 200px;
}

.main .implementInfoTitle {
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.main .implementInfoText {
  margin-bottom: 29px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #4E4E4E;
}

.main .implementInfoBtn {
  display: block;
  padding: 15px 47px;
  background: #00AFDB;
  width: 180px;
  height: 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main .implementInfoBtn:hover {
  background-color: #009CC2;
}

.main .subscribe {
  width: 100%;
  height: 524px;
  padding: 201px 597px 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../assets/img/subscribeBcgImage.png");
}

.main .subscribeTitle {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main .subscribeForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .subscribeFormField {
  display: block;
  width: 340px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #373737;
}

.main .subscribeFormBtn {
  display: block;
  width: 66px;
  height: 100%;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #00AFDB;
  background-image: url("../assets/img/subscribeBtnImage.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main .subscribeFormBtn:hover {
  background-color: #009CC2;
}

.main .download {
  height: 464px;
  background-color: #F5F6F7;
  padding: 122px 558px 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .downloadTitle {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.main .downloadText {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4E4E4E;
}

.main .downloadBtns {
  margin: 0 auto;
  width: 402px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 186px 186px;
      grid-template-columns: 186px 186px;
  -ms-grid-rows: 46px;
      grid-template-rows: 46px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.main .downloadBtnsItem {
  width: 127px;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

.main .downloadBtnsItemLink {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #00AFDB;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main .downloadBtnsItemLink:after {
  content: '';
  display: block;
  width: 60px;
  height: 100%;
  background-color: #009CC2;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0px;
  left: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .downloadBtnsItemLink:hover {
  background-color: #009CC2;
  padding-left: 25px;
  padding-right: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .downloadBtnsItemLink:hover:after {
  background-position: 30% center;
}

.main .downloadBtnsItemLinkApple:after {
  background-image: url("../assets/img/downloadBtnApple.png");
}

.main .downloadBtnsItemLinkAndroid:after {
  background-image: url("../assets/img/downloadBtnAndroid.png");
}

.footer {
  width: 100%;
  height: 184px;
  padding: 63px 160px 79px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  background-color: #000000;
}

.footerNav {
  justify-self: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerNavItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  position: relative;
}

.footerNavItem:not(:first-child) {
  padding-left: 21px;
}

.footerNavItem:not(:last-child) {
  padding-right: 20px;
}

.footerNavItem:not(:last-child):after {
  content: '';
  display: block;
  width: 1px;
  height: 8px;
  background-color: #4E4E4E;
  position: absolute;
  left: 100%;
}

.footerLogo {
  display: block;
  width: 45px;
  height: 45px;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-bottom: 2px;
}

.footerCopyright {
  -ms-grid-column-align: right;
      justify-self: right;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #818181;
}
/*# sourceMappingURL=style.css.map */