@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$mainFont: 'Roboto', sans-serif;
// $mainColor: #ffc61a;

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: $mainFont;
}

.container {
    min-height: 100vh;
    width: 1600px;
    // max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.topWrapper {
    width: 100%;
    height: 744px;
    background-image: url('../assets/img/bg-image.png');
    background-position: center center;
    background-size: cover;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 95px;
        background-color: rgba($color: #ffffff, $alpha: 0.5);

        &Nav {
            // display: grid;
            // grid-template-columns: repeat(5, auto);
            // grid-template-rows: 100%;
            // align-items: center;

            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            // max-width: 600px;
            // width: 582px;
            // margin: 0 auto;
            width: 100%; 
            padding-right: 12px;
            padding-top: 3px;
            
            
            &List {
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 582px;
                // margin: 0 502px 0 516px;
                margin: 0 auto;
            }

            &Item {
                display: block;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // position: relative;
                // padding: 0 2px;
                font-family: $mainFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                color: #ffffff;
                border-bottom: 1px solid transparent;
                transition: 0.2s;

                &:hover {
                    // font-weight: 500;
                    // text-decoration: underline;
                    border-bottom: 1px solid #ffffff;
                    // letter-spacing: normal;
                    text-shadow: 0 0 .65px #ffffff, 0 0 .65px #ffffff;
                }

                a {
                    display: block;
                    // position: absolute;
                }
                
                &Active {
                    font-weight: 500;
                    // text-decoration: underline;
                    border-bottom: 1px solid #ffffff;
                }
            }

            &Logo {
                display: flex;
                align-items: center;

                &:hover {
                    border-bottom: 1px solid transparent;
                    transform: scale(1.05);
                }
            }
        }
    }

    .yourLife {

    }
}

.main {
    background-color: grey;
}

footer {
    width: 100%;
    height: 184px;
    background-color: yellow;
}